<html>
    <head>
	  <link ... href="{{ url_for('static', filename='styles/fonts.css') }}" type="text/css" rel="stylesheet" />
	  <link ... href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
	  <link ... href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" rel="stylesheet" />
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  

            <a class="navbar-brand" href="#" style = "color:brown;">
              <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
              
              <!--<img src="{{url_for('static', filename='MT.png')}}" width="100" height="40" class="d-inline-block align-top" alt="" />-->
            <h2 style="padding:20px; margin:10px;"><strong>Auto-mate(anything)</strong></h2>
			<br>
            </a>
          </nav>
    </head>
    <body>
	<br>
		<div class="container" style = "border:1px solid black">
		
		<div id = "alert_pass" style="display:none;" class="alert alert-primary" role="alert">
			Data submitted successfully
		</div>
		<div id = "alert_fail" style="display:none;" class="alert alert-danger" role="alert">
			Some issue occured, Please contact the support team
		</div>
		<form id="myForm" action = "\launched" method="POST">
			
			<br>
			<div class="lower">
				<p style = "background-color:gray;padding :10px; margin:5px;"><strong>Fill the required input</strong></p>
				<br><br>
				<div class="row g-3">
					  <div class="col-sm">
						<select class="form-select form-control" name="prop" id="prop" aria-label="Default select example">
							<option value="Type">Interface Type</option>
							<option value="Name">Interface Name</option>
						</select>
					  </div>
					 
					  <div class="col-sm">
						<input type="text" class="form-control" name="val" id="val" placeholder="Value" aria-label="value">
					  </div>
					  

					</div>
			</div>
			<br>

			<br>
			<div class="col-12">
				<button type="submit" class="btn btn-primary"  id ="submitBtn">Submit</button>
			</div>
			</form>
			</br>
			</br>
		</div>
	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		
		<script>


		</script>
	</body>